@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
body {
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  --bg-color : #3d2267;

  background: #3d2267;
  background: var(--bg-color);
}
.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.grid{
  width: 900px;
  box-sizing: border-box;
}

.container{
  height: 800px;
  width: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.kanjiblock{
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.kanji{
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  font-size: 10.9px;
}

.char {
    user-select: none;
    cursor: default;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    cursor: none;
 }
 .char.zoom{
   position: absolute;
   z-index: 99;
   pointer-events: none;
   transform: scale(2.0);
   background: var(--bg-color);
 }

 .char.checked{
   color: #ff91f2;
 }
 .char.highlighted{
   color: lightgreen;
 }

 .char.gapright{
   padding-right: 10px;
 }
 .char.gapbot{
   padding-bottom: 10px;
 }

.title{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;

}
.title.small{
  font-weight: normal;
  font-size: 10px;
  margin-bottom: -10px;
  margin-left: 18px;
  letter-spacing: 2px;
}
 .kyou{
   font-family: 'Noto Sans JP', sans-serif;
   width: 150px;
   position:absolute;
   right: 0;
   margin-right: -130px;
   top: 50%;
   transform: translate(0,-50%);
   color:white;
   font-size: 24px;
   line-height: 28px;
 }


 .info{
   width: 200px;
   position:absolute;
   left: 0;
   top: 0;
   margin-left: -180px;
   top: 50%;
   transform: translate(0,-50%);
   color:white;
 }
 .symbol{
   font-family: 'Noto Serif JP', sans-serif;
   font-size: 80px;
   line-height: 120px;
 }
 .symbol.sans{
   line-height: 120px;
   font-family: 'Noto Sans JP', sans-serif;
 }
 .fontbutton{
   height: 20px;
   width: 20px;
   background: rgba(0, 0, 0, .1);
   display: inline-block;
   margin-right: 5px;
   margin-left: 5px;
   font-size: 14px;
   line-height: 20px;
   padding: 2px;
 }
 .fontbutton.sans{
   font-family: 'Noto Sans JP', sans-serif;
 }
 .fontbutton:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, .2)
 }

 .keyword{
   font-size: 20px;
 }
.radicalcontainer{
  position: relative;
  max-height: 100px;
  overflow: hidden;
  padding-right: 5px;
}
.radicalfade{
  position: absolute;
  height: 42px;
  width: 200px;
  z-index: 1;
  margin-top: 60px;
  pointer-events: none;
  width: 185px;
  left: 0;
  background: linear-gradient(to top, var(--bg-color) 0%,rgba(58,61,150,0) 100%);
}
.radicalpadding{
  height: 20px;
}
.radical{
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
  font-style: italic;
  opacity: .8;
  background: rgba(0, 0, 0, .1);
}
.radical:hover{
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
}


.tabs{
  display:block;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  z-index: 2;
  position: relative;
}
.tabbutton{
  width: 100px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
  color: rgba(255,255,255,.5);
}
.tabbutton:hover{
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}
.tabbutton.active{
  color: white;
}
.tabindicator{
  height: 1px;
  background: white;
  opacity: 0.2;
  width: 100px;
  transition: .5s ease-out;
}
.tabindicator.indicatorright{
  margin-left: 100px;
  transition: .5s ease-out;
}
.tabcontent{
  position: relative;
  width: 200px;
  overflow:hidden;
  z-index: 1;
}
.tabslide{
  width: 400px;
  transition: .5s ease-out;
}
.tabslide.slideright{
  margin-left: -200px;
  transition: .5s ease-out;

}

.vocab{
  position: relative;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.vocabcontainer{
  position: relative;
  max-height: 210px;
  vertical-align: top;
  overflow: hidden;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
  color: rgba(255,255,255, .2);
}
.vocabfade{
  position: absolute;
  height: 50px;
  width: 185px;
  z-index: 1;
  margin-top: 160px;
  pointer-events: none;
  left: 0;
  background: linear-gradient(to top, var(--bg-color) 0%,rgba(58,61,150,0) 100%);

}
.word{
  font-family: 'Noto Sans JP', sans-serif;

  cursor: pointer;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.word:hover{
  background: rgba(0, 0, 0, .1);
}
.wordkana{
  font-size: 12px;
  opacity: .8;
}
.wordkanji{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.wordmeanings{
  font-size: 12px;
  opacity: .6;
}

.yomicontainer{
  width: 200px;
  display: inline-block;
}
.yomi{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 4px;
  font-style: italic;
  opacity: .8;
  background: rgba(0, 0, 0, .1);
}

.onyomi{
  font-size: 13px;
  font-style: italic;
  display: inline-block;
  width: 100px;
  top: 0;
  vertical-align:top;
  max-height: 200px;
}
.kunyomi{
  font-size: 13px;
  font-style: italic;
  display: inline-block;
  width: 99px;
  top: 0;
  vertical-align:top;
  border-left: 1px solid rgba(255,255,255, .2);
}
.kunyomi.noborder{
  border-left: 0px;
}
.onyomi.container{
  position: relative;
  max-height: 150px;
  overflow: hidden;
}
.kunyomi.container{
  border-left: 0px;
  position: relative;
  max-height: 150px;
  overflow: hidden;
}

 .progressinput{
   bottom: 0;
   margin-bottom: 20px;
   position: absolute;
   height: 50px;
   width: 800px;
   line-height: 50px;
   text-align: center;

   display: flex;
   justify-content: center; /* align horizontal */
   align-items: center;
 }
 .inputbubble{
   display: inline-block;
   width: 80px;
   height: 50px;
   background: white;
   border-radius: 20px;
   margin-left: 10px;
   margin-right: 10px;
 }

 .search{
   margin-bottom: 30px;
 }
 .inputsearch{
   outline: none;
   border: 0;
   background: none;
   box-shadow: none;
   border-radius: 0px;
   color: white;
   font-size: 20px;
   text-align: center;

   display: inline-block;
   width: 500px;
   height: 50px;
   background: rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   margin-left: 10px;
   margin-right: 10px;
 }

 .vr{
   border-left: 1px;
   border-color: #FFF;
   height: 200px;
   width: 1px;
   background: #FFF;
 }


 .cog{
   position: absolute;
   top: 0;
   right: 0;
   width: 20px;
   height: 20px;
   margin: 10px;
   transition: .5s ease-in-out;
 }
 .cog:hover{
   cursor: pointer;
   transform: rotate(180deg);
   transition: .5s ease-in-out;
 }

 .settingsbar{
   width: 200px;
   position:absolute;
   right: 0;
   margin-right: -160px;
   top: 50%;
   transform: translate(0,-50%);
   color:white;

   transition: opacity .5s ease-in-out;
 }

 .numberinput{
   color:white;
   background:  var(--bg-color);;
   width: auto;
   min-width: 40px;
   max-width: 70px;
   display: inline-block;
   border: none;
   font-size: 20px;
   text-align: center;
   border-bottom: 1px solid rgba(255,255,255, .2);
   margin-bottom: 10px;
   margin-top: 10px;
 }

 .settingscheck{
   margin-top: 15px;
   width: 20px;
   padding: 5px;
 }
 .settingscheck:hover{
   background: rgba(0, 0, 0, .1);
   cursor: pointer;
 }


 .minos{
   position: absolute;
   bottom: 0;
   right: 0;
   border-radius: 50%;
   width: 25px;
   height: 25px;
   margin: 10px;
   transition: .5s ease-in-out;
 }
 
 .minoscontainer:hover .clip_circle{
   transform: scale(1);
   clip-path: circle(140px at center);
   transition: .5s ease-in-out;
 }
 .minoscontainer:hover .minos{
   transform: scale(1.2);
   transition: .2s ease-in-out;
 }
 .minoscontainer:hover .minosinfo{
   opacity: 1;
   transition: .5s ease-in-out;
 }
 .minoscircle{
   position: absolute;
   bottom: 0;
   right: 0;
   border-radius: 50%;
   width: 280px;
   height: 280px;
   margin-right: -117.5px;
   margin-bottom: -117.5px;
   background: white;
   transform: scale(0);
   transition: .5s ease-in-out;
 }
 .clip_circle{
   transform: scale(0);
   clip-path: circle(0px at center);
   border-radius: 50%;
   background:white;
   position: absolute;
   bottom: 0;
   right: 0;
   width:280px;
   height: 280px;

   margin-right: -117.5px;
   margin-bottom: -117.5px;
   transition: .5s ease-in-out;
 }
 .minosinfo{
   opacity: 0;
   font-size: 14px;
   font-weight: bold;
   width: 120px;
   position: relative;
   margin-left: 6px;
   margin-top: 133px;
   bottom: 0;
   right: 0;
   transition: .5s ease-in-out;
 }

 .logo{
   position: absolute;
   top: 0;
   left: 0;
   width: 150px;
   margin: 10px;
 }


 hr{
   margin: 15px;
   opacity: 0.2;
 }

 span {
   color:white;
   display: inline-block;
   vertical-align: middle;
   line-height: normal;
 }

 p{
   color:white;
   display: inline-block;
 }

 a{
   text-decoration: none;
 }
 textarea:focus, input:focus{
    outline: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .2;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: .2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: .2;
}
